header

{
  "alg": "HS256",
  "typ": "JWT"
}

body
{
  "sub": "user123",
  "paymentId": "pay_abc123XYZ789",
  "orderId": 1,
  "paymentAccepted": true,
  "iat": 1773183929,
  "exp": 1804719870
}

jwt
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyMTIzIiwicGF5bWVudElkIjoicGF5X2FiYzEyM1hZWjc4OSIsIm9yZGVySWQiOjEsInBheW1lbnRBY2NlcHRlZCI6dHJ1ZSwiaWF0IjoxNzczMTgzOTI5LCJleHAiOjE4MDQ3MTk4NzB9.6ffO1jZk4v7K47Foj-HonbdUqbzLqjOFVhEby5KqTZc